*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: #242424;
     color: #fff;
}
select{
     background-color: #242424;
     color:#fff;
     border: 3px solid #fff;
     border-radius: 10%;
}
select:disabled{
     border: 3px solid #b8b8b8;
     opacity: 1;
     /* background-color: #242424; */
}
#editor{
     width:600px;
     height: 600px;
     background-color: #242424;
     color:#fff;
}
#editor::placeholder{
     color:#c8c8c8;

}