*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: #242424;
     color: #fff;
}
select{
     background-color: #242424;
     color:#fff;
     border: 3px solid #fff;
     border-radius: 10%;
}
select:disabled{
     border: 3px solid #b8b8b8;
     opacity: 1;
     /* background-color: #242424; */
}