@font-face {
     font-family: 'Nunito Sans';
     src: url(../public/NunitoSans-Regular.ttf);
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:'Nunito Sans', 'Helvetica', sans-serif;
}
body {
     position: relative;
     background-color: #242424;
     transition: background-color 400ms;
     overflow-x: hidden;
     background-image: radial-gradient(#d4d4d4 8%, transparent 8%);
     background-position: 0% 0%;
     background-size: 2.75vmin 2.75vmin;
}
select{
     border: .03rem solid #000;
     border-radius: .5rem;
}
select:disabled{
     border: .03rem solid #000;
     opacity: 0.7;
     color:#000;
}
#editor::placeholder{
     color:#c8c8c8;
}
body{
     display: grid;
     place-content: center;
     grid-auto-flow: column;
     min-height: 100vh;

}
#main{
     width: 30rem;
     height: fit-content;
     background-color: #242424;
     border: .3rem solid #fff;
     padding: 4.4rem;
     color: #fff;
     padding-top: .9rem;
     border-radius: 3rem;
}
input, select{
     margin: 5px;
}
input[type="button"]{
     width: 7rem;
     height: 2.3rem;
     font-size: .9rem;
     display: inline-block;
     margin-left: 2rem;
     border-radius: .4rem;
     box-shadow: #242424 .2rem .2rem;
}
#main > select{
     font-size: .8rem;
     width: 20rem;
     height: 2.3rem;
}
#main, .third-page > input[type="checkbox"]{
     accent-color: #d4d4d4;
}
[data-load]{
     margin-left: 7rem !important; 
}
#main > span, strong{
     text-shadow: #000 1.6px 1.2px;
}
input[type="button"]:active{
     background-color: #acacad;
     transition-duration: .05s;
     box-shadow: #242424 0 0;
}
[data-min], [data-max]{
     width: 4rem;
     border: .03rem solid #000;
     border-radius: .3rem;
     padding-left: .2rem;
}
[data-advancedSection]{
     background-color: rgba(255,255,255, .3);
     border: .3rem rgba(255,255,255, .8) solid;
     padding: .5rem;
     border-radius: .3rem;
}

.first{
     margin: auto;
     width: 20rem;
     margin-top: 2rem;
     font-size: 1.5rem;
     background-color: #242424;
     border: .3rem solid #fff;
     padding: 4.4rem;
     color: #fff;
     border-radius: 3rem;
}
.second-page{
     width:40rem;
}
.first-page{
    width:40rem;
}
#holder{
     text-align: center;
     padding: 6rem;
     background-color: rgba(0, 225, 250, .7);
     border-radius: .5vh;
     border: rgba(0, 225, 250, .8) dashed .5rem;
}
.third-page > input[type="checkbox"]{
     margin: 0;
}
.third-page > span{
     font-size: 1.2rem;
     margin-left: .5rem;
}
.second-page > input[type="text"]{
     width: 100%;
     height: 2.3rem;
     font-size: 1.8rem;
     margin: 0;
}
#main > input[type="radio"]{
     accent-color: none;
}

#eula{
     font-weight: bold;
     font-size: 1.3rem;
}
#eula > a{
     color: #0d3fc7;
}
#logsSection{
     height: 50vh;
     background-color: #fff;
     margin-left: 10rem;
     padding: 1rem;
     width: 25vw;
}
#logs{
     height: 20vh;
     width: 100%;
     background-color: #242424;
     color: #fff;
     font-family: 'Consolas';
     overflow: auto;
     
}


#navbar {
     /* height: 100%; */
     height: fit-content;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #242424;
     overflow-x: hidden;
     width: 15vw;
     padding: 0 1vw 0 1vw;
}
ul{
     list-style-type: none;
}
.navel > a{
     text-decoration: none;
     color: #fff;
     font-size: 1.3vw;
     align-items: center;
}
.navel > img{
     padding: 0 .5vw 0 .5vw;    
}  
.navel{
     display: flex;
     width: 100%;
     height: fit-content;
     margin: 1vw 0 1vw 0 ;
     padding: 0.5vh;
     border: .3rem solid #fff;
     border-radius: 1rem;
}
.navel:hover{
     background-color: #444;
     transition-duration: .25s;
}
#exit{
     color: #fff;
     font-size: 1.3vw;
     align-items: center;
     list-style-type: none;
     display: flex;
     width: 3.2%;
     aspect-ratio: 1/1;
     /* height: fit-content; */
     /* margin: 1vw 0 1vw 0 ; */
     padding: 0.3vw;
     border-radius: 1rem;
     background-color: #242424;
     border: .3rem solid #8b0000;
     bottom: 1vh;
     left: 1vh;
     position: absolute;
}
#exit:hover{
     background-color: #6b0000;
     transition-duration: .25s;
}